body{ background-color:;
      color: ck;}
img{width: 50%;}
h1{color: chocolate;
   font-size: 2em;}
h2{color: chocolate;
   font-size: 1.5em;
   margin-top: 3;
   margin-bottom: 3;}
h1,h2{line-height: 3;}
.titulos{line-height: 1.2;
         text-align: center;
         font-weight: bold;}
      table{border-collapse: collapse;
            width: 80%;
            font-size: 1.2em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;}
            
      td,th{border: 5px solid #f00;
            padding: 1.5%;}
      
      /* essa faz uma linha cor sim cor não */
      tr:nth-child(even) {background-color: #dddddd;}
p{line-height: 1.5;
  margin-top: auto;
  margin-bottom: auto;}
ul li{line-height: 1.5;
      }

body{background-color: #8B0000;}
header{background-color: #8B0000;
    padding: 3%;}

/*Classe atribuída para a div receber o logotipo*/
.logo{background-color: #F0F8FF;}
.center{display: block;
        margin-left: auto;
        margin-right: auto;}
nav{background-color: #F0F8FF;}
main{ 
    background-color: #F0F8FF;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
 }
section{background-color: #F0F8FF;}
footer{
    background-color: #8B0000;
    padding: 3%;
    color: #F0F8FF;
}

.cabecalho{padding: 3%;}
.rodape{padding: 3%;}