body{
       background-color:darkred;
}

header{
       background-color:darkred;
       padding: 3%;
}

img{
       width: 60%;
}

/*Classe Atribuída para a diuv que vai receber o logotipo*/
.logo{
       background-color:darkred;
}

nav{
       background-color: aliceblue;
}

main{
       background-color:antiquewhite;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
}

section{
       background-color: aliceblue;
}

footer{
       background-color: aliceblue;
       padding: 3%;
}

.cabecalho{
       padding: 3%;
}

.rodape{
       padding: 3%;
}

h1, h2{
       line-height: 3;
}

p{
       line-height: 1.5;
       font-size: 1.2em;
}

ul li{
       line-height: 1.5;
       font-size: 1.2em;
}

.titulos{
       line-height: 3;
       text-align: center;
       font-weight: bold;
}

h1{
       font-size: 2em;
}
h2{
       font-size: 1.5em;
}

table{
       border-collapse: collapse;
       width: 75%;
       font-size: 1.2em;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 2%;
}

td,th{
       border: 5px dashed #f00;
       padding: 15px;
       border-bottom: 1px solid black;
}

table, th, td{
       border: 1px solid;
}

th{
       height: 50px;
       text-align: center;
}

td{
       height: 20px;
       text-align: center;
       vertical-align: bottom;
}

.center{
       width: 60%;
       margin-left: auto;
       margin-right: auto;
       display: block;
}

.image{
       width: 40%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 2%;
       display: block;
}


/*essa faz uma linha cor sim e cor não*/

tr:nth-child(even){
       background-color: blueviolet;
}

tr:hover {background-color: coral;}
