body{
       background-color:darkred;
       font-family: "Libre Baskerville", serif;
       text-align: center;
}

header{
       background-color:aliceblue;
       padding: 3%;
}

img{
       width: 60%;
}

/*Classe Atribuída para a diuv que vai receber o logotipo*/
.logo{
       background-color:aliceblue;
       text-align: left;
       width: 30%;
}

nav{
       background-color: darkred;
}

main{
       background-color:darkred;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
}

section{
       background-color: aliceblue;
}

footer{
       background-color: darkred;
       padding: 3%;
}

.cabecalho{
       padding: 3%;
}

.rodape{
       padding: 3%;
}

.paragrafo{
       color: aliceblue;
}

.p{
       padding-bottom: 3%;
}

h1, h2{
       line-height: 3;
}

p{
       line-height: 1.5;
       font-size: 1.2em;
       color: black;
}

ul li{
       line-height: 1.5;
       font-size: 1.2em;
}

.titulos{
       line-height: 3;
       text-align: center;
       font-weight: bold;
       color: black;
}

.title{
       line-height: 3;
       text-align: center;
       font-weight: bold;
       color: aliceblue;
}

h1{
       font-size: 2em;
}
h2{
       font-size: 1.5em;
}

table{
       border-collapse: collapse;
       width: 75%;
       font-size: 1.2em;
       margin-left: auto;
       margin-right: auto;
       padding-bottom: 3%;
}

td,th{
       border: 5px dashed black;
       padding: 15px;
       border-bottom: 1px solid black;
}

table, th, td{
       border: 1px solid;
}

th{
       height: 50px;
       text-align: center;
}

td{
       height: 20px;
       text-align: center;
       vertical-align: bottom;
}

.center{
       width: 60%;
       margin-left: auto;
       margin-right: auto;
       display: block;
       margin-top: 3%;
}

.image{
       width: 40%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 2%;
       display: block;
}

.linha{
       display: flex;
       flex-flow: row wrap;
       margin-left: auto;
       margin-right: auto;
}

.col-3{
       width: 25%;
       padding-bottom: 3%;
}

.col-3 p{
       font-size: 1rem;
       text-align: center;
}

.imggaleria{
       width: 90%;
       margin-left: 1%;
       margin-right: 1%;
}


/*essa faz uma linha cor sim e cor não*/

tr:nth-child(even){
       background-color: darkred;
}

tr:hover {background-color: floralwhite;}

.libre-baskerville-regular {
       font-family: "Libre Baskerville", serif;
       font-weight: 400;
       font-style: normal;
}
     
     
     
     